<div class="container">
  <div class="text-center">
    <h3><%= @post.title %></h3>


    <div class="lead">
      <%= @post.description.html_safe %>
    </div>

    <div>
      <p> Posted  <%= time_ago_in_words(@post.created_at)  %> ago by
      <%=link_to @post.user.name, user_path(@post.user) %></p>
    </div>

  <div class="login-test">
    <% if logged_in? && (@post.user==current_user)  %>
      <%= link_to "", edit_post_path(@post), class: 'btn btn-sm btn-warning fa fa-pencil' %>
      <%= link_to "",post_path(@post), method: :delete , class: 'btn btn-sm btn-danger fa fa-trash' %>
    <% end %>
    <%= link_to "",root_path,class: 'btn btn-info btn-sm fa fa-home' %>
  </div>
  </div>
</div>
